* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

html {
  line-height: 1;
  height: 100%;
}

body {
  height: 100%;
  background-color: #000000;
}

p {
  color: #f4f4f4;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
  padding: 20px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: "cyberpunk";
  src: local('cyberpunk'), url(./Fonts/cyberpunk-webfont.woff2) format("woff2"), url(./Fonts/cyberpunk-webfont.woff) format("woff");
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}